@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-weight: 300;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: var(--font-regular);
    min-height: 100vh;
}

#__next {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section:nth-child(odd) {
    color: white;
    background-color: black;
}

h1, h2, h3 {
  font-family: var(--font-display);
  font-weight: 400;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h1, h2, h3 {
  text-transform: uppercase;
  line-height: 100%;
}
input, select, option {
    @apply px-2 py-1 text-black rounded-sm;
}
input[type="submit"] {
    @apply bg-white text-black uppercase rounded-sm cursor-pointer my-4;
}
label {
    @apply flex flex-col gap-1 mb-2; 
}