@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-weight: 300;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: var(--font-regular);
    min-height: 100vh;
}

#__next {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
section {
    @apply text-zinc-900 bg-zinc-50 max-w-5xl;
}

section:nth-child(odd) {
    @apply text-white bg-zinc-900;
    box-shadow: 0 0 0 100vmax #18181b;
    clip-path: inset(0 -100vmax);
}

h1, h2, h3, h4 {
  font-family: var(--font-display);
  font-weight: 400;
}
h1 {
  @apply text-7xl lg:text-7xl;
}
h2 {
  @apply text-4xl lg:text-5xl;
}
h3 {
  @apply text-3xl lg:text-4xl;
}
h4 {
  @apply text-xl lg:text-2xl;
}
h1, h2, h3, h4 {
  text-transform: uppercase;
  line-height: 100%;
}
input, select, option, textarea {
    @apply px-2 py-1 text-zinc-900 rounded-sm;
}
input[type="submit"] {
    @apply bg-white text-zinc-900 uppercase rounded-sm cursor-pointer my-4;
}
textarea {
    @apply min-h-[10rem]
}
label {
    @apply flex flex-col gap-1 mb-2; 
}

.gradient-bg {
  @apply bg-gradient-to-r from-violet-400 to-fuchsia-400;
}